<div class="tippy-templates">
    <div id="profile-drop-list" >
        <ul class="header-drop-linklist" >
            <li class="header-drop-linklist__item"><a href="#" class="header-drop-linklist__link">Профиль</a></li>
            <li class="header-drop-linklist__item"><a href="#" class="header-drop-linklist__link">Баланс - 130 $</a></li>
            <li class="header-drop-linklist__item"><a href="#" class="header-drop-linklist__link">Покупки</a></li>
            <li class="header-drop-linklist__item"><a href="#" class="header-drop-linklist__link">Настройки</a></li>
            <li class="header-drop-linklist__item"><a href="#" class="header-drop-linklist__link">Выход</a></li>                
            
        </ul>
    </div>

    <div class="tippy-close-panel">
        <button class="tippy-close-btn">
            <img src="assets/img/icons/close.svg" alt="">
        </button>
    </div>

    <div id="tippy-filters-container" >
        <div class="filters-tippy">
            
        </div>
    </div>
    
    <div id="currency-drop-list" role="tooltip">
        <ul class="header-drop-list" data-target="currency">
            <li class="header-drop-list__item">RUB</li>
            <li class="header-drop-list__item">USD</li>
            <li class="header-drop-list__item">GBP</li>
        </ul>
    </div>
    
    
    <div id="lang-drop-list">
        <ul class="header-drop-list" data-target="lang">
            <li class="header-drop-list__item">Ru</li>
            <li class="header-drop-list__item">En</li>
            <li class="header-drop-list__item">De</li>
        </ul>
    </div >
    
    
    <div id="hint-for-select-lang" >
        <div class="hfsl-box">
            <h3 class="mb-4">Выберите язык заполнения карточки</h3>
            <p >Опишите услугу на нужном вам языке, что бы привлечь покупателя из выбранного вами языкового региона</p>
        </div>
        
    </div>


</div>