$break-points: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
  hd: $hd
);

$offsets:(
    0: 0rem, //0
    1: 0.25rem, //4
    2: 0.5rem, // 8
    3: 0.75rem, // 12 
    4: 1rem, // 16
    5: 1.25rem, // 20
    6: 1.5rem, // 24
    7: 2rem, //32
    8: 2.5rem, // 40
    9: 3rem, // 48
    10: 3.5rem, // 56
    11: 4rem, // 64
    12: 5rem, // 80
);

@each $number, $offset in $offsets {
    //padding-top
    .pt-#{$number}{
        padding-top: $offset !important;
    }
    //padding-bottom
    .pb-#{$number}{
        padding-bottom: $offset !important;
    }
    //padding-left
    .ps-#{$number}{
        padding-left: $offset !important;
    }
    //padding-right
    .pe-#{$number}{
        padding-right: $offset !important;
    }
    //padding-left +  padding-right
    .px-#{$number}{
        padding-left: $offset !important;
        padding-right: $offset !important;
    }
    //padding-top +  padding-bottom
    .py-#{$number}{
        padding-top: $offset !important;
        padding-bottom: $offset !important;
    }

    /********************************/

     //margin-top
    .mt-#{$number}{
        margin-top: $offset !important;
    }
    //margin-bottom
    .mb-#{$number}{
        margin-bottom: $offset !important;
    }
    //margin-left
    .ms-#{$number}{
        margin-left: $offset !important;
    }
    //margin-right
    .me-#{$number}{
        margin-right: $offset !important;
    }
    //margin-left +  margin-right
    .mx-#{$number}{
        margin-left: $offset !important;
        margin-right: $offset !important;
    }
    //margin-top +  margin-bottom
    .my-#{$number}{
        margin-top: $offset !important;
        margin-bottom: $offset !important;
    }
}

@each $bp-name, $break-point in $break-points {
    @each $number, $offset in $offsets {
        //padding-top
        .pt-#{$bp-name}-#{$number}{
            @media (min-width: $break-point){
                padding-top: $offset !important;
            }
            
        }
        //padding-bottom
        .pb-#{$bp-name}-#{$number}{
            @media (min-width: $break-point){
                padding-bottom: $offset !important;
            }
            
        }
        //padding-left
        .ps-#{$bp-name}-#{$number}{
            @media (min-width: $break-point){
                padding-left: $offset !important;
            }
            
        }
        //padding-right
        .pe-#{$bp-name}-#{$number}{
            @media (min-width: $break-point){
                padding-right: $offset !important;
            }
            
        }
        //padding-left +  padding-right
        .px-#{$bp-name}-#{$number}{
            @media (min-width: $break-point){
                padding-left: $offset !important;
                padding-right: $offset !important;
            }
            
        }
        //padding-top +  padding-bottom
        .py-#{$bp-name}-#{$number}{
            @media (min-width: $break-point){
                padding-top: $offset !important;
                padding-bottom: $offset !important;
            }
            
        }

        /********************************/

        //margin-top
        .mt-#{$bp-name}-#{$number}{
            @media (min-width: $break-point){
                margin-top: $offset !important;
            }
            
        }
        //margin-bottom
        .mb-#{$bp-name}-#{$number}{
            @media (min-width: $break-point){
                margin-bottom: $offset !important;
            }
            
        }
        //margin-left
        .ms-#{$bp-name}-#{$number}{
            @media (min-width: $break-point){
                margin-left: $offset !important;
            }
            
        }
        //margin-right
        .me-#{$bp-name}-#{$number}{
            @media (min-width: $break-point){
                margin-right: $offset !important;
            }
            
        }
        //margin-left +  margin-right
        .mx-#{$bp-name}-#{$number}{
            @media (min-width: $break-point){
                margin-left: $offset !important;
                margin-right: $offset !important;
            }
            
        }
        //margin-top +  margin-bottom
        .my-#{$bp-name}-#{$number}{
            @media (min-width: $break-point){
                margin-top: $offset !important;
                margin-bottom: $offset !important;
            }
            
        }
    }
}
.mt-auto{    
    margin-top: auto !important;    
    
}
//margin-bottom
.mb-auto{    
    margin-bottom: auto !important;
}
//margin-left
.ms-auto{    
    margin-left: auto !important;    
    
}
//margin-right
.me-auto{    
    margin-right: auto !important;
}
//margin-left +  margin-right
.mx-auto{    
    margin-left: auto !important;
    margin-right: auto !important;
}
//margin-top +  margin-bottom
.my-auto{
   
        margin-top: auto !important;
        margin-bottom: auto !important;
       
}
@each $bp-name, $break-point in $break-points {
    //margin-top
    .mt-#{$bp-name}-auto{
        @media (min-width: $break-point){
            margin-top: auto !important;
        }
        
    }
    //margin-bottom
    .mb-#{$bp-name}-auto{
        @media (min-width: $break-point){
            margin-bottom: auto !important;
        }
        
    }
    //margin-left
    .ms-#{$bp-name}-auto{
        @media (min-width: $break-point){
            margin-left: auto !important;
        }
        
    }
    //margin-right
    .me-#{$bp-name}-auto{
        @media (min-width: $break-point){
            margin-right: auto !important;
        }
        
    }
    //margin-left +  margin-right
    .mx-#{$bp-name}-auto{
        @media (min-width: $break-point){
            margin-left: auto !important;
            margin-right: auto !important;
        }
        
    }
    //margin-top +  margin-bottom
    .my-#{$bp-name}-auto{
        @media (min-width: $break-point){
            margin-top: auto !important;
            margin-bottom: auto !important;
        }
        
    }
}